@import "../reset.scss";
$primary-color: #faf0e6;
$big-font-color: #98aeb6;
$secondary-color: #333;
$big-font: "Racing Sans One", "sans-serif";
$primary-font: "Roboto", "sans-serif";

//App, all components
.wrapper {
  overflow: hidden;
  box-sizing: border-box;
  min-height: 100vh;
  background-color: $primary-color;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: $primary-font;

  .content-wrapper {
    justify-content: space-between;
    display: flex;
  }
}