@import "../reset.scss";
$primary-color: #faf0e6;
$big-font-color: #98aeb6;
$secondary-color: #333;
$big-font: "Racing Sans One", "sans-serif";
$primary-font: "Roboto", "sans-serif";

//App, all components
.wrapper {
  overflow: hidden;
  box-sizing: border-box;
  min-height: 100vh;
  background-color: $primary-color;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: $primary-font;

  .homepage {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 7em auto 0 auto;

    .homepage-logo {
      display: flex;

      img {
        width: 31.25em;
      }
    }

    .homepage-links {
      display: flex;
      justify-content: space-around;
      padding: 2.5em;
      font-weight: 900;
      font-size: 1.5em;

      a {
        text-decoration: none;
        color: $secondary-color;
        padding: 0.9em 2.2em;
        border-left: 0.12em solid #9dc3d1;
        font-family: $big-font;

        &:hover {
          background-color: #9dc3d1;
          box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.35);
          border-radius: 3px;
        }

        &:first-child {
          border: none;
        }
      }
    }
  }

  .content-wrapper {
    justify-content: space-between;
    display: flex;

    .content-wrapper-right {
      min-width: 85%;
      display: flex;
      align-items: center;
      flex-direction: column;

      //HEADER
      .header {
        min-width: 100%;
        min-height: 6.188em;
        color: $big-font-color;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 0.06em solid $big-font-color;

        .crumbs {
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 1.25em;

          span {
            font-size: 1.2em;
            margin-left: 1.25em;
          }

          a {
            margin: 0 313em;
            padding: 0.625em 0.9em;
            font-size: 1.2em;
            font-weight: 800;
            margin: 0.625em 0.9em;
            text-decoration: none;
            color: $big-font-color;

            &:hover {
              padding: 0.625em 0.9em;
              background-color: $secondary-color;
              color: $primary-color;
              border-radius: 3px;
              box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
            }
          }
        }

        .search-box {
          border: 0.063em solid $big-font-color;
          padding: 0.5em 0.6em;
          background-color: #fff;
          margin-right: 1.8em;
          display: flex;
          align-items: center;

          input {
            margin-left: 0.3em;
            background-color: #fff;
            border: none;
            outline: none;
            font-size: 0.9em;
          }
        }
      }

      //TABLE FOR ALL COMPONENTS
      .title {
        margin-top: 0.5em;
        font-family: "Racing Sans One", "sans-serif";
        text-align: center;
        font-size: 2.5em;
        color: $secondary-color;
      }

      table {
        width: 75%;
        margin: 1.25em auto;

        caption {
          color: $big-font-color;
          font-size: 1.5em;
          font-weight: 600;
          font-style: italic;
          padding: 0.625em;
          text-align: left;
        }

        td {
          padding: 0.5rem 0.323em;
          font-size: 1em;
          text-align: left;
          border-right: 0.06em solid $big-font-color;
          vertical-align: middle;

          a {
            text-decoration: none;
            color: $secondary-color;
            cursor: pointer;
          }

          span {
            display: flex;
            align-items: center;
            width: fit-content;
            cursor: pointer;
          }

          .table-flag {
            width: 2em;
            height: 2em;
          }

          .icon {
            width: 0.9em;
          }
        }

        th {
          background-color: #9dc3d1;
          border-right: 0.06em solid $big-font-color;
          font-size: 1em;
          font-weight: 600;
          padding: 0.9em;
          text-align: left;
        }
      }
    }

    //DRIVERS, TEAMS, RACES UI
    .main-content {
      margin: 1.25em auto;
      display: flex;
      flex-direction: column;
      width: 100%;
      margin-top: 1.9em;
    }
  }

  //Sidebar
  .sidebar-wrapper {
    min-width: 15%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    img {
      margin: 10px auto 0 auto;
      width: 90%;
      height: 4.6em;
    }

    .side-nav {
      display: flex;
      flex-direction: column;
      text-align: center;
      font-family: $big-font;
      margin-top: 0.9em;

      a {
        font-family: "Racing Sans One", "sans-serif";
        width: fit-content;
        padding: 1.2em 0;
        color: $big-font-color;
        text-align: center;
        text-decoration: none;
        font-size: 1.4em;
        width: 100%;
        border-bottom: 0.06em solid $big-font-color;

        &:hover {
          background-color: $secondary-color;
          color: $primary-color;
          box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
          border-radius: 0 3px 3px 0;
        }
      }

      .active {
        color: $secondary-color;
      }
    }
  }
}

.wrapper-details {
  margin: 1.25em auto;
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 1.8em;

  .card-wrapper {
    margin-top: 4em;
    padding: 0.6em;

    .card-content {
      padding: 0.5em;
      margin-left: 0.3em;
      background-color: $primary-color;
      border: 0.1em solid $big-font-color;
      box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.2);

      .card-header {
        display: flex;
        flex-direction: column;

        .card-pic {
          width: 200px;
          margin: 0 auto;
        }

        .card-title {
          display: flex;
          flex-direction: column;
          justify-content: end;
          align-items: start;
          margin-left: 0.6em;

          h3 {
            font-weight: 600;
            font-size: 1.1em;
          }
        }
      }

      .card-info {
        margin-top: 0.9em;

        p {
          display: flex;
          margin: 0.6em 0.6em 0.6em 0;
        }

        span {
          font-weight: 600;
        }
      }
    }
  }
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.6em 0;
  border-top: 1px solid $big-font-color;
  text-align: center;
  background-color: #9dc3d1;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.3);

  .footer-icons {
    padding: 0 0.55em;
    width: 1.2em;
  }
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}
