@import "../reset.scss";
$primary-color: #faf0e6;
$big-font-color: #98aeb6;
$secondary-color: #333;
$big-font: "Racing Sans One", "sans-serif";
$primary-font: "Roboto", "sans-serif";

//App, all components
.wrapper {
  overflow: hidden;
  box-sizing: border-box;
  min-height: 100vh;
  background-color: $primary-color;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: $primary-font;

  .content-wrapper {
    justify-content: space-between;
    display: flex;

    .content-wrapper-right {
      min-width: 85%;
      display: flex;
      align-items: center;
      flex-direction: column;

      //HEADER
      .header {
        min-width: 100%;
        min-height: 6.188em;
        color: $big-font-color;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 0.06em solid $big-font-color;
      }

      //TABLE FOR ALL COMPONENTS
      .title {
        margin-top: 0.5em;
        font-family: "Racing Sans One", "sans-serif";
        text-align: center;
        font-size: 2.5em;
        color: $secondary-color;
      }

      table {
        width: 75%;
        margin: 1.25em auto;

        caption {
          color: $big-font-color;
          font-size: 1.5em;
          font-weight: 600;
          font-style: italic;
          padding: 0.625em;
          text-align: left;
        }

        td {
          padding: 0.5rem 0.323em;
          font-size: 1em;
          text-align: left;
          border-right: 0.06em solid $big-font-color;
          vertical-align: middle;

          a {
            text-decoration: none;
            color: $secondary-color;
            cursor: pointer;
          }

          span {
            display: flex;
            align-items: center;
            width: fit-content;
            cursor: pointer;
          }

          .table-flag {
            width: 2em;
            height: 2em;
            padding-right: 0.5em;
          }

          .icon {
            padding-left: 0.5em;
            width: 0.9em;
          }
        }

        th {
          background-color: #9dc3d1;
          border-right: 0.06em solid $big-font-color;
          font-size: 1em;
          font-weight: 600;
          padding: 0.9em;
          text-align: left;
        }
      }
    }
  }
}